<!-- sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sidebar Fragment</title>
</head>

<body>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Quix</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="'/' + ${ruolo} + '/dashboard'">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Nav Item - Raccolte -->
        <li class="nav-item">
            <a class="nav-link" th:href="'/' + ${ruolo} + '/raccolte'">
                <i class="fas fa-fw fa-box"></i>
                <span>Raccolte</span></a>
        </li>

        <!-- Nav Item - Elenco Quiz -->
        <li class="nav-item" th:if="${ruolo.equals('autore')}">
            <a class="nav-link" th:href="'/' + ${ruolo} + '/elencoQuiz'">
                <i class="fas fa-fw fa-list"></i>
                <span>ElencoQuiz</span></a>
        </li>

    </ul>
</body>

</html>