@font-face {
  font-family: Inter;
  src:local("Inter/Inter-Italic-VariableFont_opsz,wght.ttf");
}

@each $name, $size in $fontSizes {
  .fs-#{$name} {
      font-size: $size !important;
  }
}

@each $name, $weight in $fontWeight {
  .fw-#{$name} {
      font-weight: $weight !important;
  }
}

@each $name, $color in $systemColors {
  .text-#{$name} {
      color: $color !important;
  }
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

