$systemColors: ("pink": #FF77AD, "purple": #340068, "yellow": #FFCF3E, "green": #00AD71, "violet": #6C1674, "white": #ffff, "black": #000000);
$calendarColors: ("one": #ff4845, "two": #fb72d6, "three": #17B890, "four": #8c6fff, "five": #1adcc2, "six": #2b0c81);
$spacing: (1: 2px, 2: 4px, 3: 8px, 4: 16px, 5: 24px, 6: 32px);
$fontSizes: (1: 52px, 2: 48px, 3: 36px, 4:30px, 5: 24px, 6: 20px, 7: 16px, 8: 12px, 9: 8px);
$fontWeight: (1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600, 7: 700, 8: 800, 9: 900);
$sizes: (1: 12px, 2: 24px, 3: 32px, 4: 48px, 5: 64px, 6: 80px); //BOHHH
$flex: (1: 8.333333%, 2: 16.666667%, 3: 25%, 4: 33.333333%, 5: 41.666667%, 6: 50%, 7: 58.333333%, 8: 66.666667%, 9: 75%, 10: 83.333333%, 11: 91.666667%, 12: 100%);
$heights: (1: 15px, 2: 30px, 3: 40px, 4: 50px, 5: 60px); //for height h-1, h-2
