<!DOCTYPE html>
<html lang="it">

<head>
    <title>Elenco quiz</title>
    <th:block th:replace="~{/moduli/areaRiservata/head :: head}"></th:block>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <th:block th:replace="~{moduli/areaRiservata/sidebar :: sidebar}"></th:block>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <th:block th:replace="~{moduli/areaRiservata/topbar :: topbar}"></th:block>

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 id="categoryQuiz" class="h3 mb-2 text-gray-800" th:if="${nomeCategoria != null}" th:text="'Lista quiz della categoria ' + ${nomeCategoria}">Lista completa categoria</h1>
                        <h1 id="allQuiz" class="h3 mb-2 text-gray-800" th:if="${nomeCategoria == null}">Lista completa quesiti</h1>
                    </div>
                    <div class="row mb-4" th:each="quiz : ${elenco}">

                        <!-- Righe quiz -->
                        <div class="col">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 mr-2" style="display: inline;">
                                                <a class="bg-primary text-white p-1" th:text="${quiz.categoria.nome}" th:href="'/elencoQuiz/' + ${quiz.categoria.nome}">Categoria</a>
                                            </div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="display: inline;">
                                                <a class="bg-primary text-white p-1" th:text="${quiz.raccolta.nome}" th:href="'/raccolta/' + ${quiz.raccolta.id}">Raccolta</a>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 mt-2" th:text="${quiz.quesito}">Quesito</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-pen fa-2x text-primary mr-3 pe-auto" style="cursor: pointer" th:id="'edit-quiz' + ${quiz.id}"></i>
                                            <i class="fas fa-trash fa-2x text-danger" style="cursor: pointer" th:id="'delete-quiz' + ${quiz.id}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <th:block th:replace="~{moduli/areaRiservata/footer :: footer}"></th:block>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Editor - Start -->
    <div class="overlay" th:id="'editor-quiz' + ${quiz.id}" th:each="quiz : ${elenco}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p type="text" class="form-control form-control-user" contenteditable="true" required th:text="${quiz.quesito}" th:id="'quesito-quiz' + ${quiz.id}">Quesito</p>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <p type="text" class="form-control form-control-user" contenteditable="true" required th:text="${quiz.opzioneUno}" th:id="'opzioneUno-quiz' + ${quiz.id}">opzioneUno</p>
                        </div>
                        <div class="col-sm-6">
                            <p type="text" class="form-control form-control-user" contenteditable="true" required th:text="${quiz.opzioneDue}" th:id="'opzioneDue-quiz' + ${quiz.id}">opzioneDue</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <p type="text" class="form-control form-control-user" contenteditable="true" required th:text="${quiz.opzioneTre}" th:id="'opzioneTre-quiz' + ${quiz.id}">opzioneTre</p>
                        </div>
                        <div class="col-sm-6">
                            <p type="text" class="form-control form-control-user" contenteditable="true" required th:text="${quiz.opzioneQuattro}" th:id="'opzioneQuattro-quiz' + ${quiz.id}">opzioneQuattro</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm">
                            <select name="categoria" class="form-control">
                                <option th:each="categoria : ${categorie}" th:value="${categoria.nome}" th:text="${categoria.nome}" th:id="'categoria-qui' + ${quiz.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" data-dismiss="modal" th:id="'hide-editor-quiz' + ${quiz.id}">Annulla</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal" th:id="'save-quiz' + ${quiz.id}">Aggiorna</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Editor - End -->


    <th:block th:replace="~{moduli/areaRiservata/logout :: logout}"></th:block>

    <th:block th:replace="~{moduli/areaRiservata/scripts :: scripts}"></th:block>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>

</html>