<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Quix - Home</title>
        <th:block th:replace="~{moduli/landingPage/head :: head}"></th:block>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Quix</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">Noi</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Servizi</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contatti</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Accedi</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Benvenuto su Quix</h1>
                <p class="lead">Ti stai annoiando? Vuoi divertiri? Prova uno dei nostri quiz!</p>
                <a class="btn btn-lg btn-light" href="#about">Iniziamo!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Noi</h2>
                        <p class="lead">Questo è un ottimo posto per acquisire nuove conoscenze con i nostri quiz. I nostri punti di forza:</p>
                        <ul>
                            <li>Quiz interattivi che coinvolgono gli utenti e rendono l'apprendimento divertente</li>
                            <li>Statistiche in tempo reale sui punteggi e le prestazioni degli utenti</li>
                            <li>Funzionalità di feedback immediato per ogni risposta fornita</li>
                            <li>Design responsivo che si adatta a qualsiasi dispositivo, perfetto per l'apprendimento mobile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Servizi</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contatti</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Quix &copy; 2025</p></div>
        </footer>

        <th:block th:replace="~{moduli/landingPage/scripts :: scripts}"></th:block>

    </body>
</html>
