@each $name, $color in $systemColors {
    .border-#{$name} {
        border: 1px solid $color !important;
    }
    .border-top-#{$name} {
        border-top: 1px solid $color !important;
    }
    .border-right-#{$name} {
        border-right: 1px solid $color !important;
    }
    .border-bottom-#{$name} {
        border-bottom: 1px solid $color !important;
    }
    .border-left-#{$name} {
        border-left: 1px solid $color !important;
    }
}

@each $name, $size in $spacing {
    .border-width-#{$name} {
        border-width: $size !important;
    }
    .border-radius-#{$name}{
        border-radius: $size !important;
    }
}
