@each $name, $size in $spacing {
    .m-#{$name} {
        margin: $size !important;
    }
    .mt-#{$name} {
        margin-top: $size !important;
    }
    .ml-#{$name} {
        margin-left: $size !important;
    }
    .mb-#{$name} {
        margin-bottom: $size !important;
    }
    .mr-#{$name} {
        margin-right: $size !important;
    }
    .p-#{$name} {
        padding: $size !important;
    }
    .pt-#{$name} {
        padding-top: $size !important;
    }
    .pl-#{$name} {
        padding-left: $size !important;
    }
    .pb-#{$name} {
        padding-bottom: $size !important;
    }
    .pr-#{$name} {
        padding-right: $size !important;
    }
}

.height-1{
    height: 15px;
}