.overlay {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.edit-raccolta-buttons {
    display: none;
}

.edit-raccolta:hover .edit-raccolta-buttons {
    display: block;
}

.quix-tag{
    border-radius: 9px !important;
    padding: 4px 6px 4px 6px !important;
}